* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: sans-serif;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.phone {
  background: rgb(118, 118, 118);
  border-radius: 50px;
  border: 14px solid rgb(48, 48, 48);
  color: white;
  padding: 0 10px 10px 10px;
  width: 339px;
  height: 700px;
  position: relative;
  
}

.top-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  padding: 0 20px;
}



.camera {
  display: inline-block;
  justify-content: center;
  height: 25px;
  width: 210px;
  width: 44%;
  max-width: 210px;
  background-color: rgb(48, 48, 48);
  position: relative; 
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  top: 0;
}

.clock {
  padding-top: 7px;
  width: 28%;
  font-size: 13px;
  font-weight: 400px;
}

.status {
  width: 28%;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  color: white;
  height: 35%;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display {
  font-size: 70px;
  font-weight: 300;
  height: 100px;
  padding: 10px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}


.keyboard {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

button {
  align-items: center;
  /* background: #333; */
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 28px;
  height: 64px;
  justify-content: center;
  width: 64px;
  font-weight: 200;
  border: none;
}

.span-two {
  grid-column: 1 / span 2;
  width: 140px;
  border-radius: 55px;
  justify-content: flex-start;
  padding-left: 20px;
}

.clear,
.negative,
.percent {
  background-color: #a5a5a5;
  color: black;
}

.operator,
.equals {
  background-color: #ff9f0a;
  color: white;
  font-size: 40px;
}

.operator {
  transition: all 0.5s linear;
}

.operator:active,
.operator:focus {
  background-color: white;
  color: #ff9f0a;
  
}

.number {
  background-color: #343434;
  color: white;
}

.btn {
  transition: font-size 0.6s, filter 0.6s;

}

.btn:focus {
  filter: brightness(130%);
}

.btn:active {
  font-size: 45px;
}



.bottom {
  width: 100px;
  height: 3px;
  background: white;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}